<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="weeding_robot" >


    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <legacyModeNS>false</legacyModeNS>
            <robotNamespace>/weeding_robot</robotNamespace>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="gazebo_ros_imu_controller" filename="libgazebo_ros_imu.so">
            <!-- <robotNamespace></robotNamespace> -->
            <topicName>imu/data</topicName>
            <serviceName>imu/service</serviceName>
            <bodyName>base_link</bodyName>
            <gaussianNoise>0</gaussianNoise>
            <rpyOffsets>0 0 0</rpyOffsets>
            <updateRate>30.0</updateRate>
            <alwaysOn>true</alwaysOn>   
            <gaussianNoise>0</gaussianNoise>
        </plugin>
    </gazebo>

          <!-- GPS Sensor -->
    <gazebo>
        <plugin name="novatel_gps_sim" filename="libhector_gazebo_ros_gps.so">
            <alwaysOn>1</alwaysOn>
            <updateRate>10.0</updateRate>
            <bodyName>base_link</bodyName>
            <frameId>base_link</frameId>
            <topicName>gps/fix</topicName>
            <velocityTopicName>gps/fix_velocity</velocityTopicName>
            <drift>0 0 0</drift>
            <gaussianNoise>0.1 0.1 0.1</gaussianNoise>
            <velocityDrift>0 0 0</velocityDrift>
            <velocityGaussianNoise>0.1 0.1 0.1</velocityGaussianNoise>
        </plugin>
    </gazebo>




    <gazebo reference="left_wheel">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>500000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
        <material>Gazebo/Grey</material>
     </gazebo>

    <gazebo reference="right_wheel">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>500000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="back_wheel">
        <mu1>0.01</mu1>
        <mu2>0.01</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

</robot>
