<launch>

    <include file="$(find weeding_robot_navigation)/launch/start_navsat.launch" />

    <!-- Run the ekf for map to odom config -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_with_gps"> 
    <!--remap from="/odometry/filtered" to="/odometry/filtered_with_gps"/-->
    <rosparam command="load" file="$(find weeding_robot_navigation)/config/robot_localization_with_gps.yaml" />
    </node>

    <!-- Run the map server -->
    <include file="$(find weeding_robot_navigation)/launch/start_map_server.launch" />

    <!--- Run Move Base -->
    <include file="$(find weeding_robot_navigation)/launch/move_base_map.launch" />

</launch>