<launch>
    <rosparam file="$(find weeding_robot_description)/config/weeding_robot_control.yaml" command="load"/>
    <param name="robot_description" command="$(find xacro)/xacro.py $(find weeding_robot_description)/urdf/weeding_robot_simple.xacro" />

    <!--node name="controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" ns="/weeding_robot" args="spawn base_controller joint_state_controller"/-->


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/weeding_robot/joint_states" />
    </node>

    <include file="$(find weeding_robot_description)/launch/arduino.launch"/>


    <arg name="razor_config_file" default="$(find razor_imu_9dof)/config/my_razor.yaml"/>
    <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
        <rosparam file="$(arg razor_config_file)" command="load"/>
        <remap from="/imu" to="/imu/data"/>
    </node>



</launch>