<launch>
 <!-- -->
  <node pkg="reach_rs_driver" type="reach_rs_driver_node" name="reach_rs_driver" respawn="true" output ="screen">

    <param name="reach_rs_host_or_ip" value="reach.local"/>
    <param name="reach_rs_port" value="9001"/>
    <!--param name="reach_rs_frame_id" value="world"/-->
    <!--param name="fix_timeout" value="100"/-->
    <!--param name="useRMC" value="false"/-->
    

    <remap from="/fix" to="/gps/fix" />

  </node>

</launch>